# No data
*.zip
*.gz
*.cd
*.csv
*.tsv
*.rds
*.RDS
*.bkp
*.orig

# no garbage
*.log
*.DS_Store

# no R settings
*.Rproj.user
*.Rproj
*.Rhistory

# no models
*.pkl
*.joblib

# don't allow images
*.pdf
*.png
*.svg
.Rproj.user
