# Virtual environments
.venv/
# Data
*.zip
*.gz
*.cd
*.csv
*.tsv
*.rds
*.RDS
*.bkp
*.orig
*.RData

# Logs and garbage
*.log
*.DS_Store

# R settings
*.Rproj.user
.Rproj.user
*.Rproj
*.Rhistory

# models
*.pkl
*.joblib

# Images
*.pdf
*.png
*.svg
*.eps

# temporary output
output.txt

# word documents 
*.odt
